// CSS Reset
link(rel='stylesheet', href='../public/ajax/libs/css/reset_css/2.0/css.reset.css')

// Normalize.
+ie('if lt IE 9]', '[endif')
	link(rel='stylesheet', href='../public/ajax/libs/css/normalize/1.1.3/normalize.min.css')

+ie('if gte IE 9]><!--', '--<![endif')
	link(rel='stylesheet', href='../public/ajax/libs/css/normalize/3.0.0/normalize.min.css')

// Global
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/scaffolding/global.css')



// Grid
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/scaffolding/grid.fixed.css')

link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/scaffolding/grid.fluid.css')

// Util
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/scaffolding/util.css')



// Base · Header
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/base/header.css')

// Base · Paragraph
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/base/paragraph.css')

// Base · Link
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/base/link.css')

// Base · Button
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/base/button.css')

// Base · Table
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/base/table.css')

// Base · Form
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/base/form.css')



// jQuery UI · Core
link(rel='stylesheet', href='../public/ajax/libs/css/jquery_ui/jquery.ui.core.min.css')

// jQuery UI · Theme
link(rel='stylesheet', href='../public/ajax/libs/css/jquery_ui/jquery.ui.theme.min.css')

// jQuery UI · Date Picker
link(rel='stylesheet', href='../public/ajax/libs/css/jquery_ui/jquery.ui.datepicker.min.css')



// Component · Tooltip
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/component/tooltip.css')

// Component · Panel
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/component/panel.css')

// Component · Upload
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/component/upload.css')

// Component · Select
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/component/select.css')

// Component · Context Menu
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/component/context.menu.css')



// Animate
link(rel='stylesheet', href='//resource.fenqimall.com/ajax/libs/css/animate_css/animate.min.css')

// Master
link(rel='stylesheet', href='../public/ajax/libs/css/bms/master.css')



// Media Query · Print
link(rel='stylesheet', href='../public/ajax/libs/css/bms_front_end_framework/media_query/print.css')