extends ../master/layout@2.jade

block title

	title 亨元后台管理系统UI套件

block private-stylesheet

	link(rel='stylesheet', href='../public/ajax/libs/css/bms/demo.css')

block content

	// form layout

		form(id='frm', class='minHeight-150 radius clearfix', name='frm', action='#', method='post')

			// Common Form Row (2(col)/row)
			div(class='fluid-row just-two-col clearfix')

				div(class='column small-uncentered small-4 border_box clearfix')

					div(class='relative left minHeight-40 border_box label')

					div(class='relative right minHeight-40 border_box input')

				div(class='column small-uncentered small-8 right-two-col border_box clearfix')

					div(class='relative left minHeight-40 border_box label')

					div(class='relative right minHeight-40 border_box input')

			// Common Form Row (2(col)/row)
			div(class='fluid-row just-two-col clearfix')

				div(class='column small-uncentered small-8 left-two-col border_box clearfix')

					div(class='relative left minHeight-40 border_box label')

					div(class='relative right minHeight-40 border_box input')

				div(class='column small-uncentered small-4 border_box clearfix')

					div(class='relative left minHeight-40 border_box label')

					div(class='relative right minHeight-40 border_box input')

			div(class='fluid-row just-one-col clearfix')

				div(class='column small-uncentered small-12 border_box clearfix')

					div(class='relative left minHeight-40 border_box label')

					div(class='relative right minHeight-40 border_box input')

			// Common Form Row (3(col)/row)
			div(class='fluid-row clearfix')

				div(class='column small-uncentered small-4 border_box clearfix')

					div(class='relative left minHeight-40 border_box label')

					div(class='relative right minHeight-40 border_box input')

				div(class='column small-uncentered small-4 border_box clearfix')

					div(class='relative left minHeight-40 border_box label')

					div(class='relative right minHeight-40 border_box input')

				div(class='column small-uncentered small-4 border_box clearfix')

					div(class='relative left minHeight-40 border_box label')

					div(class='relative right minHeight-40 border_box input')

	form(id='frm', class='minHeight-150 radius clearfix', name='frm', action='#', method='post')

		// Common Form Row (2(col)/row)
		div(class='fluid-row just-two-col clearfix')

			div(class='column small-uncentered small-4 border_box clearfix')

				div(class='relative left minHeight-40 border_box label')

					label(for='ipt_1', id='lbl_1', class='lbl_1', name='lbl_1') 文本框：

				div(class='relative right minHeight-40 border_box input')

					input(id='ipt_1', class='ipt_1', name='ipt_1', type='text', placeholder='Placeholder')

			div(class='column small-uncentered small-8 right-two-col border_box clearfix')

				div(class='relative left minHeight-40 border_box label')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative right minHeight-40 border_box input')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

		// Common Form Row (2(col)/row)
		div(class='fluid-row just-two-col clearfix')

			div(class='column small-uncentered small-8 left-two-col border_box clearfix')

				div(class='relative left minHeight-40 border_box label')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative right minHeight-40 border_box input')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

			div(class='column small-uncentered small-4 border_box clearfix')

				div(class='relative left minHeight-40 border_box label')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative right minHeight-40 border_box input')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

		div(class='fluid-row just-one-col clearfix')

			div(class='column small-uncentered small-12 border_box clearfix')

				div(class='relative left minHeight-40 border_box label')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative right minHeight-40 border_box input')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

		// Common Form Row (3(col)/row)
		div(class='fluid-row clearfix')

			div(class='column small-uncentered small-4 border_box clearfix')

				div(class='relative left minHeight-40 border_box label')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative right minHeight-40 border_box input')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

			div(class='column small-uncentered small-4 border_box clearfix')

				div(class='relative left minHeight-40 border_box label')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative right minHeight-40 border_box input')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

			div(class='column small-uncentered small-4 border_box clearfix')

				div(class='relative left minHeight-40 border_box label')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative right minHeight-40 border_box input')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

	include ../ui/table

	include ../ui/button

		

block private-script

	+jsloader('../public/ajax/libs/js/bms_front_end_framework/master')



// ___________  ______    _____  ___   ___  ___
//("     _   ")/    " \  (\"   \|"  \ |"  \/"  |
// )__/  \\__/// ____  \ |.\\   \    | \   \  /
//	\\_ /  /  /    ) :)|: \.   \\  |  \\  \/
//	|.  | (: (____/ // |.  \    \. |  /   /
//	\:  |  \        /  |    \    \ | /   /
//	 \__|   \"_____/    \___|\____\)|___/ 沈维忠 ( Shen Weizhong / Tony Stark ).
//
//* Version: 0.1.0-alpha
//
//* Creation Date: 2014.04.16 15:35 ( Tony ).
//
//* Last Update: 2014.04.22 11:48 ( Tony ).