extends ../master/layout@2.jade

block title

	title 亨元后台管理系统UI套件

block private-stylesheet

	link(rel='stylesheet', href='../public/ajax/libs/css/bms/demo.css')

block content

	// form layout

		form(id='frm', class='minHeight-150 clearfix', name='frm', action='#', method='post')

			// Common Form Row (2(col)/row)
			div(class='fluid-row just-two-col clearfix')

				div(class='column small-uncentered small-4 border_box clearfix')

					div(class='relative left border_box label')

					div(class='relative left border_box input expand')

				div(class='column small-uncentered small-8 right-two-col border_box clearfix')

					div(class='relative left border_box label')

					div(class='relative left border_box input expand')

			// Common Form Row (2(col)/row)
			div(class='fluid-row just-two-col clearfix')

				div(class='column small-uncentered small-8 left-two-col border_box clearfix')

					div(class='relative left border_box label')

					div(class='relative left border_box input expand')

				div(class='column small-uncentered small-4 border_box clearfix')

					div(class='relative left border_box label')

					div(class='relative left border_box input expand')

			div(class='fluid-row just-one-col clearfix')

				div(class='column small-uncentered small-12 border_box clearfix')

					div(class='relative left border_box label')

					div(class='relative left border_box input expand')

			// Common Form Row (3(col)/row)
			div(class='fluid-row clearfix')

				div(class='column small-uncentered small-4 border_box clearfix')

					div(class='relative left border_box label')

					div(class='relative left border_box input expand')

				div(class='column small-uncentered small-4 border_box clearfix')

					div(class='relative left border_box label')

					div(class='relative left border_box input expand')

				div(class='column small-uncentered small-4 border_box clearfix')

					div(class='relative left border_box label')

					div(class='relative left border_box input expand')

	form(id='frm', class='minHeight-150 clearfix', name='frm', action='#', method='post')

		// Common Form Row (2(col)/row)
		div(class='fluid-row just-two-col clearfix')

			div(class='column small-uncentered small-4 border_box clearfix')

				div(class='relative left border_box label idx-50')

					label(for='ipt_1', id='lbl_1', class='lbl_1', name='lbl_1') 文本框：

				div(class='relative left border_box input small-10 error idx-50')

					input(id='ipt_1', class='ipt_1', name='ipt_1', type='text', placeholder='Placeholder')

					div(class='hide length-250 wrong') 错误提示信息!错误提示信息!错误提示信息!

			div(class='column small-uncentered small-8 right-two-col border_box clearfix')

				div(class='relative left border_box label idx-49')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative left border_box input help error idx-49')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

		// Common Form Row (2(col)/row)
		div(class='fluid-row just-two-col clearfix')

			div(class='column small-uncentered small-8 left-two-col border_box clearfix')

				div(class='relative left border_box label idx-51')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative left border_box input expand error idx-51')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

			div(class='column small-uncentered small-4 border_box clearfix')

				div(class='relative left border_box label idx-52')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative left border_box input expand error idx-52')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

		div(class='fluid-row just-one-col clearfix')

			div(class='column small-uncentered small-12 border_box clearfix')

				div(class='relative left border_box label idx-52')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative left border_box input expand error idx-52')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

		// Common Form Row (3(col)/row)
		div(class='fluid-row clearfix')

			div(class='column small-uncentered small-4 border_box clearfix')

				div(class='relative left border_box label  idx-53')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative left border_box input expand error  idx-53')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

			div(class='column small-uncentered small-4 border_box clearfix')

				div(class='relative left border_box label  idx-53')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative left border_box input expand error idx-53')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

			div(class='column small-uncentered small-4 border_box clearfix')

				div(class='relative left border_box label  idx-53')

					label(id='', class='', name='', title='') 文本框：

				div(class='relative left border_box input expand error idx-53')

					input(id='', class='', name='', type='text', placeholder='Placeholder')

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

		// Put disabled input here ...
		div(class='fluid-row just-one-col clearfix')

			div(class='column small-uncentered small-12 border_box clearfix')

				div(class='relative left border_box label idx-54')

					label(id='', class='', name='', title='') 文本框（禁用）：

				div(class='relative left border_box input expand error idx-54')

					input(id='', class='', name='', type='text', disabled='true', placeholder='Placeholder')

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

		// Put file upload input here ...
		div(class='fluid-row just-one-col clearfix')

			div(class='column small-uncentered small-12 border_box clearfix')

				div(class='relative left border_box label idx-55')

					label(id='', class='', name='', title='') 文件：

				div(class='relative left border_box input expand idx-55')

					div(class='custom-upload')

						div

							input(id='', class='', name='', type='file')

							div(class='fake-file')

								input(type='text', disabled='true')

						a(href='#', id='', class='right button upload') 浏览

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

		// Date ...
		div(class='fluid-row clearfix')

			div(class='column small-uncentered small-3 border_box clearfix')

				div(class='relative left border_box label  idx-56')

					label(id='', class='', name='', title='') 日期选择器：

				div(class='relative left border_box input expand idx-56')

					input(id='iptDatePicker_1', class='', name='', type='text', placeholder='Placeholder')

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

			div(class='column small-uncentered small-3 border_box clearfix')

				div(class='relative left border_box label  idx-56')

					label(id='', class='', name='', title='') 日期选择器：

				div(class='relative left border_box input expand idx-56')

					input(id='iptDatePicker_2', class='', name='', type='text', placeholder='Placeholder')

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

			div(class='column small-uncentered small-3 border_box clearfix')

				div(class='relative left border_box label  idx-56')

					label(id='', class='', name='', title='') 日期选择器：

				div(class='relative left border_box input expand idx-56')

					input(id='iptDatePicker_3', class='', name='', type='text', placeholder='Placeholder')

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

			div(class='column small-uncentered small-3 border_box clearfix')

				div(class='relative left border_box label  idx-56')

					label(id='', class='', name='', title='') 日期选择器：

				div(class='relative left border_box input expand idx-56')

					input(id='iptDatePicker_4', class='', name='', type='text', placeholder='Placeholder')

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

		// Put Textarea here ...
		div(class='fluid-row just-one-col clearfix')

			div(class='column small-uncentered small-12 border_box clearfix')

				div(class='relative left border_box label idx-57')

					label(id='', class='', name='', title='') 文本域：

				div(class='relative left border_box input expand minHeight-40 idx-57')

					textarea(id='', class='', name='', placeholder='Placeholder')

					div(class='hide length-250') * 提示信息!提示信息!提示信息!提示信息!

		// Put buttons here ...
		div(class='fluid-row just-one-col clearfix')

			div(class='column small-uncentered small-12 border_box clearfix')

				a(class='button default', href="#", hreflang='zh') 默认

	include ../ui/table

	include ../ui/button

		

block private-script

	+jsloader('../public/ajax/libs/js/bms_front_end_framework/master')



// ___________  ______    _____  ___   ___  ___
//("     _   ")/    " \  (\"   \|"  \ |"  \/"  |
// )__/  \\__/// ____  \ |.\\   \    | \   \  /
//	\\_ /  /  /    ) :)|: \.   \\  |  \\  \/
//	|.  | (: (____/ // |.  \    \. |  /   /
//	\:  |  \        /  |    \    \ | /   /
//	 \__|   \"_____/    \___|\____\)|___/ 沈维忠 ( Shen Weizhong / Tony Stark ).
//
//* Version: 0.1.0-alpha
//
//* Creation Date: 2014.04.16 15:35 ( Tony ).
//
//* Last Update: 2014.04.22 11:48 ( Tony ).