//

	Statement: ...//TODO: Write statement.

	Describe:     ...//TODO: Check description.

	Further Changes, Comments: ...//TODO: Give a further changes and comments link.

	Docs: ...//TODO: Give a link about project documents.

	Original Author: 沈维忠 ( Shen Weizhong / Tony Stark ).

	Thanks: ...//TODO: If there are some contributors, just mark them.

	Version: 0.1.0-alpha

	Creation Date: 2014.04.22 12:01 ( Tony ).

	Last Update: 2014.04.24 16:10 ( Tony ).    ...//TODO: Update the 'Last Update'.

	Music ( Custom ): No Ceiling.mp3    ...//TODO: If you are listenning some music, just write the name of songs.

	License: ...//TODO: Give a license.

	Copyright: ...//TODO: Give a copyright.

h4 大按钮

a(class='button default large', href="#", hreflang='zh') 默认

a(class='button important large', href="#", hreflang='zh') 重要

a(class='button info large', href="#", hreflang='zh') 信息

a(class='button success large', href="#", hreflang='zh') 成功

a(class='button warn large', href="#", hreflang='zh') 警告

a(class='button contrast large', href="#", hreflang='zh') 反差

h4 默认大小

a(class='button default', href="#", hreflang='zh') 默认

a(class='button important', href="#", hreflang='zh') 重要

a(class='button info', href="#", hreflang='zh') 信息

a(class='button success', href="#", hreflang='zh') 成功

a(class='button warn', href="#", hreflang='zh') 警告

a(class='button contrast', href="#", hreflang='zh') 反差

h4 小按钮

a(class='button default small', href="#", hreflang='zh') 默认

a(class='button important small', href="#", hreflang='zh') 重要

a(class='button info small', href="#", hreflang='zh') 信息

a(class='button success small', href="#", hreflang='zh') 成功

a(class='button warn small', href="#", hreflang='zh') 警告

a(class='button contrast small', href="#", hreflang='zh') 反差

h4 极小按钮

a(class='button default tiny', href="#", hreflang='zh') 默认

a(class='button important tiny', href="#", hreflang='zh') 重要

a(class='button info tiny', href="#", hreflang='zh') 信息

a(class='button success tiny', href="#", hreflang='zh') 成功

a(class='button warn tiny', href="#", hreflang='zh') 警告

a(class='button contrast tiny', href="#", hreflang='zh') 反差

h4 失效按钮

a(class='button default large disabled radius', href="#", hreflang='zh') 默认

a(class='button important large disabled radius', href="#", hreflang='zh') 重要

a(class='button info large disabled radius', href="#", hreflang='zh') 信息

a(class='button success large disabled radius', href="#", hreflang='zh') 成功

a(class='button warn large disabled radius', href="#", hreflang='zh') 警告

a(class='button contrast large disabled radius', href="#", hreflang='zh') 反差

h4 圆角按钮

a(class='button default large radius', href="#", hreflang='zh') 默认

a(class='button important large radius', href="#", hreflang='zh') 重要

a(class='button info large radius', href="#", hreflang='zh') 信息

a(class='button success large radius', href="#", hreflang='zh') 成功

a(class='button warn large radius', href="#", hreflang='zh') 警告

a(class='button contrast large radius', href="#", hreflang='zh') 反差

h4 圆形按钮（大）

a(class='button default large round', href="#", hreflang='zh') 默认

a(class='button important large round', href="#", hreflang='zh') 重要

a(class='button info large round', href="#", hreflang='zh') 信息

a(class='button success large round', href="#", hreflang='zh') 成功

a(class='button warn large round', href="#", hreflang='zh') 警告

a(class='button contrast large round', href="#", hreflang='zh') 反差

h4 圆形按钮（默认）

a(class='button default round', href="#", hreflang='zh') 默认

a(class='button important round', href="#", hreflang='zh') 重要

a(class='button info round', href="#", hreflang='zh') 信息

a(class='button success round', href="#", hreflang='zh') 成功

a(class='button warn round', href="#", hreflang='zh') 警告

a(class='button contrast round', href="#", hreflang='zh') 反差

h4 圆形按钮（小）

a(class='button default small round', href="#", hreflang='zh') 默认

a(class='button important small round', href="#", hreflang='zh') 重要

a(class='button info small round', href="#", hreflang='zh') 信息

a(class='button success small round', href="#", hreflang='zh') 成功

a(class='button warn small round', href="#", hreflang='zh') 警告

a(class='button contrast small round', href="#", hreflang='zh') 反差

h4 圆形按钮（极小）

a(class='button default tiny round', href="#", hreflang='zh') 默认

a(class='button important tiny round', href="#", hreflang='zh') 重要

a(class='button info tiny round', href="#", hreflang='zh') 信息

a(class='button success tiny round', href="#", hreflang='zh') 成功

a(class='button warn tiny round', href="#", hreflang='zh') 警告

a(class='button contrast tiny round', href="#", hreflang='zh') 反差

h4 自伸展按钮

a(class='button default large radius expand', href="#", hreflang='zh') 默认

a(class='button important large radius expand', href="#", hreflang='zh') 重要

a(class='button info large radius expand', href="#", hreflang='zh') 信息

a(class='button success large radius expand', href="#", hreflang='zh') 成功

a(class='button warn large radius expand', href="#", hreflang='zh') 警告

a(class='button contrast large radius expand', href="#", hreflang='zh') 反差